/****** ROPDAPÉ ******/

footer {
    height: 10vh;
    background-color: #ff8e3c;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  
    a#btnUp {
      display: none;
      position: fixed;
      bottom: 5em;
      right: 1em;
      z-index: 20;
    }

    @media only screen and (max-width: 500px) {
      a#btnUp {
        visibility: hidden;
      }
    }
}
  
